.ss-account-container {
	display: flex;

	.ss-account {
		width: 100%;
	}
}

.ss-account-navigation {
    margin: 0 0 20px 0;
	padding-right: 15px;
	flex-shrink: 0;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;

    .ss-account-navigation-link {
      a {
		  display:block;
		  padding: .5em 0;
		  border-bottom: 1px solid rgba( 0, 0, 0, 0.15 );
		  text-decoration: none;
      }

      &.is-active {
        a {
          font-weight: 600;
        }
      }
    }
  }
}

.ss-sponsor-info {
  display: flex;

  .ss-sponsor-logo {
    display: block;
    width: 150px;
    margin-right: 10px;
  }

  .ss-sponsor-content {
    width: 100%;

    &.has-logo {
      width: calc( 100% - 160px );
    }
  }
  .ss-sponsor-info-data {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.15 );

    .ss-sponsor-info-title {
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }
}

.ss-login-form {
  label {
    display: block;
    width: 100%;
  }

  input {
    &:not([type=checkbox]):not([type=radio]) {
      width: 100%;
    }
  }
}

.ss-table-sponsorships {
  table-layout: fixed;

  td, th {
    text-align: center;
  }
}

.ss-recurring-payments-actions {
  ul {
    margin: 0 10px 10px 0;
    padding: 0;
    list-style: none;
  }
}
