.ss-widget-sponsor,
.ss-sponsors .ss-sponsor{
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.ss-content-placeholder {
  margin-top: 1em;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background: rgba( 0, 0, 0, 0.05 );
  padding: 1em;
  border: 1px solid rgba( 0, 0, 0, 0.1 );
  box-shadow: 0px 0px 0px rgba( 0,0,0,0.5);
  font-size: 1.5em;
  color: rgba( 0, 0, 0, 0.5 );

  .ss-placeholder-image {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.ss-sponsors {
  &.ss-sponsors-layout-vertical {
    .ss-sponsor {
      text-align: center;
    }

    &.ss-sponsors-show-text {
      .ss-sponsor {
        display: flex;
        text-align: left;

        .ss-sponsor-content {
          padding-left: 20px;

          p {
            margin: 0 0 1.5em 0;
          }
        }
      }
    }
  }

  &.ss-sponsors-layout-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ss-sponsor {
      width: 30%;
      margin-right: 5%;

      &:nth-child(3n),
      &:last-child {
        margin-right: 0;
      }

    }

    &.ss-sponsors-count-1 {
      .ss-sponsor {
        width: 100%;
        text-align: center;
      }
    }

    &.ss-sponsors-count-2 {
      .ss-sponsor {
        width: 45%;
      }
    }
  }
}