@import 'common/_variables.scss';
@import 'admin/_settings.scss';
@import 'admin/_widgets.scss';
@import 'admin/_sponsors.scss';
@import 'admin/_sponsorships.scss';
@import 'admin/_packages.scss';
@import 'admin/_reports.scss';
