.ss-section {
  background: white;
  -webkit-box-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.1 );
  -moz-box-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.1 );
  box-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.1 );

  h2 {
    margin-top: 0;
  }
}

.ss-hidden {
  display: none;
}